@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo base rápido */
:root { color-scheme: light; }
html, body {
  height: 100%;
  background: #f6f7fb; /* gris claro */
  color: #0f172a;      /* slate-900 */
}
