@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente y colores base */
:root { color-scheme: light; }
html, body { height: 100%; }
body { @apply bg-slate-50 text-slate-900 antialiased; }

/* Scroll sutil */
*::-webkit-scrollbar { width: 10px; height: 10px; }
*::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 9999px; }
